.green_line {						/* Зеленая линия в самом верху сайта */
	height: 44px;
	background: #24b019;
	width: 100%;
}

.top_text {							/* Текст на зеленой линии */
	color: #fff;
	font-size: 22px;
	font-family: "Verdana";
	text-align: left;
  	-moz-transform: matrix( 0.53811549267447,0,0,0.53811549267447,0,0);
  	-webkit-transform: matrix( 0.53811549267447,0,0,0.53811549267447,0,0);
 	-ms-transform: matrix( 0.53811549267447,0,0,0.53811549267447,0,0);
	left: 20%;
    float: left;
    padding-top: 6px;
}

.form {
	border: 1px;
	border-color: rgb(0, 72, 25);
	border-style: solid;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	left: 61%;
	width: 183px;
	height: 22px;
	float: left;
	position: absolute;
	margin-top: 7px;
}

.search_button {
	border-radius: 3px;
	background-image: -moz-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -webkit-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -ms-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	position: absolute;
	width: 33px;
	height: 21px;
	margin-left: 68.5%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	top: 12px;
	float: left;
	margin-top: 5px;
}

.menu {
	margin-left: 20%;
	margin-right: 20%;
	height: 1000px;
	float: bottom;
}

.logo {
	margin-top: 23px;
	float: left;
}

.call {
	font-weight: bold;
	float: left;
	font-size: 22px;
	padding: 20px;
	margin-left: 50px;
}

.time {
	float: left;
	font-size: 22px;
	padding: 20px;
	margin-left: 50px;
}

#callback{
	color: rgb(78, 149, 107);
	font-family: "Verdana";
	font-size: 14px;
	line-height: 1.934;
	text-align: left;
}

#mailback{
	color: rgb(78, 149, 107);
	font-weight: bold;
	font-family: "Verdana";
	font-size: 14px;
	line-height: 1.934;
	text-align: left;
}

.main_menu {
	background-image: -moz-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -webkit-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -ms-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	height: 43px;
	width: 100%;
	border-radius: 10px;
}

.cart {
	float: bottom;
	border-radius: 5px;
	width: 15%;
	height: 100px;
	margin-left: 70%;
	text-align: center;
	padding-top: 25px;
	font-family: "Verdana";
}

.summ {
	padding-top: 25px;
}

.menu_cat{
	text-decoration: none;
	font-family: "Verdana";
	font-size: 25px;
	color: #fff;
	display: inline-block;
	margin: 5px 49px; 
}

.sidebar {
	width: 20%;
	height: 1000px;
	float: left;
	display: inline-block;
}

.sidebar_cat {
	font-size: 12px;
  	font-family: "Verdana";
  	margin: 10px 30px;
}

.filters_text {
	background-image: -moz-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -webkit-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -ms-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	font-size: 18px;
  	font-family: "Verdana";
  	width: 100%;
  	height: 30px;
  	border-radius: 10px;
  	color: #fff;
  	text-align: center;
  	padding-top: 5px;
}

.filter_cost_text {
	font-weight: bold;
	margin: 10px 30px;
	font-size: 20px;	
}

.cost_choose {
	display: inline-block;
	height: 20px;
}

.cost_min {
	width: 50px;
	background: #d0d0d0;
}

.cost_max {
	width: 50px;
	background: #d0d0d0;
	border-radius: 2px;
}

.cost_text1 {
	margin-left: 35px;
	display: inline-block;
}

.cost_text2 {
	margin-left: 50px;
	display: inline-block;
}

.polzunok {
	width: 80%;
	height: 5px;
	margin: 5px 35px;
	background: #3f6b33;
}

.nad_polzunkom {
	display: inline-block;
	font-size: 12px;
	margin: 5px 35px;
	margin-bottom: 0px;
}

.filter_height {
	text-decoration: underline;
	margin-left: 35px;
	margin-bottom: 10px;
}

.check_color {
	margin-left: 35px;
	border-radius: 5px;
	display: inline-block;
}

.color_type {
	text-decoration: underline;
	display: inline-block;
  	font-family: "Verdana";
}

.color_type_col {
	display: inline-block;
	font-family: "Verdana";
}

.check_maker {
	margin-left: 35px;
	border-radius: 5px;
	display: inline-block;
}

.maker_type {
	text-decoration: underline;
	display: inline-block;
  	font-family: "Verdana";
}

.maker_type_col {
	display: inline-block;
	font-family: "Verdana";
}

.filter{
	text-decoration: none;
	background-image: -moz-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -webkit-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -ms-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	color: #fff;
	font-family: "Verdana";
	font-weight: bold;
	height: 28px;
	width: 160px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	margin: 0 15%;
	margin-top: 20px;
}

.content {
	display: inline-block;
	margin-left: 15px;
	width: 1200px;
}

.cont_location {
	text-decoration: underline;
	color: rgb(48, 92, 17);
	font-family: "Verdana";
	font-size: 12px;
	display: inline-block;
	margin-top: 12px;
}

.cont_location_symbol {
	color: rgb(48, 92, 17);
	font-family: "Verdana";
	font-size: 12px;
	display: inline-block;
	margin-top: 12px;
}

.content_header {
	font-size: 24px;
	font-family: "Tahoma";
	color: rgb(51, 97, 7);
	font-weight: bold;
	margin-top: 22px;
}

.content_description {
  font-size: 13px;
  font-family: "Tahoma";
  color: rgb(82, 82, 82);
  margin-top: 10px;
}

.merch_img {
	height: 230px;
	width: 230px;
	border: 1px solid #000;
	border-radius: 5px;
}

.merch_img_img {
	margin: 43px 0;
}

.merch_col_1 {
	margin-top: 15px;
	margin-left: 35%;
	background: #7b594d;
}

.merch_col_2 {
	margin-top: 15px;
	background: #f0e0c1;
}

.merch_col_3 {
	margin-top: 15px;
	background-color: #291e1a;
}

.merch_col_4 {
	margin-top: 15px;
	color: #c37d49;
}

.merch_text_1 {
	text-align: center;
}

.merch_text_2 {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	font-family: "Tahoma";
	margin-left: 11%;
}

.merch_text_3 {
	display: inline-block;
	font-weight: bold;
	color: #b3291d;
	font-size: 18px;
	font-family: "Tahoma";
}

.merch_text_4 {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	font-family: "Tahoma";
}

.merch_text_5 {
	text-align: center;
	font-weight: bold;
	font-family: "Tahoma";
	background-image: -moz-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -webkit-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	background-image: -ms-linear-gradient( 90deg, rgb(46,95,14) 0%, rgb(48,92,17) 33%, rgb(48,92,17) 45%, rgb(123,185,62) 96%);
	width: 80%;
	margin-left: 10%;
	color: #fff;
	height: 23px;
	padding-top: 4px;
	border-radius: 5px;
}

.merchandise {
	margin: 15px 71px;
	display: inline-block;
}

.header {
	float: bottom;
}

.footer_line {
	height: 49px;
	background: #24b019;
	width: 100%;
}

.a_footer_top {
	display: inline-block;
	text-decoration: underline;
	color: #fff;
	margin: 5px 15px;
}

.a_footer_bottom {
	display: inline-block;
	text-decoration: underline;
	color: #fff;
	margin: 5px 15px;
}





